* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBgColor: #fff;
    --mainTextColor: #333;
    --secondaryTextColor: #5d5d5d;
    --dimmedTextColor: #797979;
    --boxBg: rgb(232, 232, 232);
    --innerBoxBg: rgb(202, 202, 202);
    --primaryColor: rgb(101, 126, 228);
    --primaryHoverColor: rgba(101, 126, 228, 0.29);
    --imgInvertColor: invert(1) brightness(.2);
}

[data-theme="dark"] {
    --mainBgColor: #333;
    --mainTextColor: #e3e3e3;
    --secondaryTextColor: #c6c6c6;
    --dimmedTextColor: #a9a9a9;
    --boxBg: rgb(60, 60, 60);
    --innerBoxBg: rgb(74, 74, 74);
    --imgInvertColor: invert(1) brightness(.6);
}

body {
    color: var(--mainTextColor);
    background: var(--mainBgColor);
    font-family: sans-serif;
    transition: .2s ease-in-out;
}

.container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
}

button {
    cursor: pointer;
}

.page-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms ease-out;
}

.page-loading.hide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.page-loading,
.page-loading:after {
    box-sizing: border-box;
}

.page-loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: page-loading 1.2s linear infinite;
}

@keyframes page-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fw-light {
    font-weight: 300;
}

/* ---------------- header ---------------- */

header {
    background: var(--primaryColor);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

header .logo-container {
    display: flex;
    align-items: center;
    gap: 3px
}

header .logo-container img {
    height: 65;
    width: 65px;
    object-fit: cover;
}


/* ---------------- header right ---------------- */

header .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 35px;
}

header .header-right .header-right-btn-style {
    border: 1px solid rgba(255, 255, 255, 0.27);
    padding: 5px;
    border-radius: 3px;
    color: white;
}

header .header-right .sign-in {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    transition: .2s ease-in-out
}

header .header-right .change-theme {
    height: 100%;
    aspect-ratio: 1/1;
    background: none;
    transition: .2s ease-in-out
}

header .header-right .change-theme img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

header .header-right .sign-in:hover,
header .header-right .change-theme:hover {
    background: #ffffff55;
}

/* ---------------- left menu bar ---------------- */
.left-menu-and-main-content {
    display: grid;
    grid-template-columns: auto 1fr;
}

.left-menu-bar {
    width: 280px;
    height: calc(100vh - 75px);
    background: var(--boxBg);
    position: relative;
    transition: .2s ease-in-out;
}

.left-menu-bar.minimize {
    width: 100px;
    overflow: hidden;
}

.left-menu-bar .menu-bar-top-buttons {
    padding: 20px;
}

.left-menu-bar .upload-btn,
.left-menu-bar .user-btn {
    width: 100%;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    transition: 100ms ease-in-out;
}

.left-menu-bar .upload-btn {
    color: white;
    transform-origin: top;
    background: var(--primaryColor);
}

.left-menu-bar.minimize .upload-btn {
    height: 0;
    transform: scaleY(0);
}

.left-menu-bar .user-btn {
    transform: translateY(0);
    margin-top: 10px;
    background: none;
    border: 1px solid var(--primaryHoverColor);
    color: var(--primaryColor);
    position: relative;
}

.left-menu-bar .user-btn:hover {
    background: var(--primaryHoverColor);
}

.left-menu-bar .user-btn .arrow-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 150ms ease-in-out;
}

.left-menu-bar.expand-user-menu .user-btn .arrow-icon {
    transform: translateY(-50%) rotate(90deg);
}

.left-menu-bar.minimize .upload-btn {
    opacity: 1;
}

.left-menu-bar .user-btn .arrow-icon img {
    width: 18px;
}

.left-menu-bar.minimize .arrow-icon {
    right: 15px;
}

.left-menu-bar.minimize .arrow-icon img {
    width: 25px;
}

.left-menu-bar.minimize .user-btn {
    transform: translateY(-20px);
    margin-top: 0px;
}

.left-menu-bar .user-btn span {
    transition: inherit;
}

.left-menu-bar .user-btn.hide span:not(.arrow-icon) {
    opacity: 0;
}

.left-menu-bar .user-btn.hide .arrow-icon {
    opacity: 1;
}

/* ---------------- left menu bar main ---------------- */

.left-menu-bar .menu-bar-main .expandable-user-menu {
    border-bottom: 1px solid #7f7f7f81;
    height: 0px;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}

.left-menu-bar .menu-bar-main ul {
    list-style: none;
}

.left-menu-bar .menu-bar-main ul li {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 7px;
    transition: background 200ms ease-in-out;
}

.left-menu-bar.minimize .menu-bar-main ul li span {
    opacity: 0;
}

.left-menu-bar .menu-bar-main ul li img {
    width: 20px;
    vertical-align: middle;
    transform: translateX(0);
    transition: 150ms ease-in-out;
    filter: var(--imgInvertColor);
}

.left-menu-bar.minimize .menu-bar-main ul li img {
    width: 25px;
    transform: translateX(15px);
}

.left-menu-bar .menu-bar-main ul li:hover,
.left-menu-bar .menu-bar-main ul li.active {
    background: var(--innerBoxBg);
}

/* ---------------- end left menu bar main ---------------- */

.left-menu-bar .handle-left-menu {
    position: absolute;
    bottom: 50px;
    left: 20px;
    height: 40px;
    padding: 0 16px;
    background: none;
    border: 1px solid var(--primaryHoverColor);
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms ease-in-out;
}

.left-menu-bar .handle-left-menu:hover {
    background: var(--primaryHoverColor);
}

.left-menu-bar .handle-left-menu img {
    transition: .2s ease-in-out;
    transform: rotate(180deg);
}

.left-menu-bar.minimize .handle-left-menu img {
    transform: rotate(0deg);
}

/* ---------------- main content area ---------------- */

.left-menu-and-main-content .main-content-area {
    height: calc(100vh - 75px);
    overflow: hidden;
}

.main-content-area .scroll {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    position: relative;
}

.main-content-area .scroll::-webkit-scrollbar {
    width: 8px;
}

.main-content-area .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--boxBg);
    border-radius: 10px;
}

.main-content-area .scroll::-webkit-scrollbar-thumb {
    background: var(--innerBoxBg);
    border-radius: 10px;
}

.main-content-area .scroll::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColor);
}

.main-content-area .area-title {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: .3px;
}

.main-content-area .select-upload-box.hide{
    opacity: 0;
    visibility: hidden;
    transition: 100ms ease-in-out;
}

.main-content-area .select-upload-box .upload-box-inner,
.main-content-area .welcome-box {
    height: 350px;
    background: var(--boxBg);
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
}

.main-content-area .upload-box-inner .drag-and-drop-area {
    background: var(--innerBoxBg);
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: inherit;
    border: 2px dashed var(--mainBgColor);
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.main-content-area .upload-box-inner .drag-and-drop-area.active {
    background: var(--mainBgColor);
    border-color: var(--primaryColor);
}

.main-content-area .upload-box-inner .close-selected-files {
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--boxBg);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.upload-box-inner .drag-and-drop-area.active .close-selected-files {
    opacity: 1;
    visibility: visible;
}

.main-content-area .upload-box-inner .close-selected-files svg {
    pointer-events: none;
}

.main-content-area .upload-box-inner .drag-and-drop-area:hover,
.main-content-area .upload-box-inner .drag-and-drop-area.dragging-over {
    border-color: var(--primaryColor);
}

.main-content-area .upload-in-progress-box{
    transform: scaleY(0);
    opacity: 0;
    transition: 150ms ease-in-out;
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
}

.main-content-area .upload-in-progress-box.active{
    opacity: 1;
    transform: scale(1);
}

.main-content-area .upload-in-progress-box .upload-progress-box-inner {
    background: var(--boxBg);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.main-content-area .upload-progress-box-inner .sending-files {
    font-weight: 400;
    margin-bottom: 5px;
}

.main-content-area .upload-progress-box-inner .uploaded-files {
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--secondaryTextColor);
}

.main-content-area .upload-progress-box-inner .upload-speed {
    color: var(--secondaryTextColor);
    font-size: 15px;
    margin-bottom: 4px;
}

.main-content-area .upload-progress-box-inner .estimated-time {
    color: var(--dimmedTextColor);
    font-size: 14px;
    font-weight: 300;
}

.upload-progress-box-inner .progress-circle {
    width: 100px;
    height: 100px;
    position: relative;
}

.upload-progress-box-inner .progress-circle-outer {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-progress-box-inner .progress-circle-inner {
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress-circle-number {
    font-weight: 600;
    color: var(--secondaryTextColor);
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 13px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}

.progress-circle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.all-done .all-files-uploaded-msg{
    background: var(--boxBg);
    border-radius: 5px;
    padding: 20px;
    font-size: 17px;
    font-weight: 300;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.all-done .all-files-uploaded-msg::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: var(--primaryColor);
}

.all-done .link-management-box{
    padding: 20px;
    background: var(--boxBg);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 50px;

}

.all-done .link-management-box .link-and-share-box{
    display: grid;
    grid-template-columns: 1fr 200px;
}

.all-done .link-management-box .link-and-share-box .link-copy-box{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.all-done .link-management-box .link-and-share-box .link-copy-box p{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background: none;
    color: var(--secondaryTextColor);
    font-size: 16px;
    border: 1px solid var(--primaryHoverColor);
    border-radius: inherit;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    padding-left: 10px;
}

.all-done .link-management-box .link-and-share-box .link-copy-box span{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100px;
    transition: .2s ease-in-out;
}

.all-done .link-management-box .link-and-share-box .link-copy-box span:hover{
    background: var(--primaryHoverColor);
}

.all-done .link-management-box .buttons{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.all-done .link-management-box .buttons button{
    height: 40px;
    padding: 0 20px;
    background: var(--primaryColor);
    border: none;
    font-size: 16px;
    color: var(--mainTextColor);
    border-radius: 5px;
}

.all-done .link-management-box .buttons .new-upload{
    background: none;
    color: var(--primaryColor);
    border: 1px solid var(--primaryHoverColor);
    transition: .2s ease-in-out;
}

.all-done .link-management-box .buttons .new-upload:hover{
    background: var(--primaryHoverColor);
}

#file-upload-inp {
    opacity: 0;
    visibility: hidden;
}

.main-content-area .drag-and-drop-area .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.main-content-area .drag-and-drop-area .content button {
    width: 150px;
    height: 40px;
    background: var(--primaryColor);
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    font-weight: 300;
    letter-spacing: .2px;
}

.main-content-area .drag-and-drop-area .content .add-more-or-send {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-content-area .drag-and-drop-area .add-more-or-send button {
    min-width: max-content;
    padding: 0 15px;
}

.main-content-area .drag-and-drop-area .add-more-or-send .add-more-files {
    background: none;
    color: var(--primaryColor);
    border: 1px solid var(--primaryHoverColor);
    transition: 200ms ease-in-out;
}

.main-content-area .drag-and-drop-area .add-more-or-send .add-more-files:hover {
    background: var(--primaryHoverColor);
}

.main-content-area .welcome-box {
    display: block;
    height: max-content;
}

.main-content-area .welcome-box .box-inner {
    overflow: hidden;
    transition: 200ms ease-in-out;
}

.main-content-area .welcome-box p {
    font-weight: 300;
}

.main-content-area .welcome-box p:not(:last-child) {
    margin-bottom: 13px;
}

.main-content-area .welcome-box p.bigger {
    font-size: 25px;
}

.main-content-area .welcome-box button {
    height: 40px;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 300;
    background: none;
    border: 1px solid var(--primaryHoverColor);
    color: var(--primaryColor);
    border-radius: 5px;
    transition: 150ms ease-in-out;
    margin-top: 15px;
}

.main-content-area .welcome-box button:hover {
    background: var(--primaryHoverColor);
}

.main-content-area .sign-in-ui .sign-in-box {
    padding: 20px;
    background: var(--boxBg);
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.sign-in-ui-outer {
    display: flex;
    justify-content: center;
}

.sign-in-ui {
    width: 400px;
}

.sign-in-ui .sign-in-box {
    margin-bottom: 30px;
}

.sign-in-ui .sign-in-box input {
    width: 100%;
    height: 40px;
    padding: 0 0 0 10px;
    background: none;
    border: 1px solid var(--innerBoxBg);
    border-radius: 4px;
    font-size: 16px;
    color: var(--mainTextColor);
}

.sign-in-ui .sign-in-box input.sign-in-email-inp {
    margin-bottom: 8px;
}

.sign-in-ui .sign-in-box .input-pass-container {
    height: 0px;
    overflow: hidden;
    transition: 200ms;
}

.sign-in-ui .sign-in-box .input-pass-container.show {
    height: 40px;
}

.sign-in-ui .sign-in-box .forgot-pass {
    color: var(--primaryColor);
    background: none;
    border: none;
    border-bottom: 1px dashed var(--primaryColor);
    width: max-content;
    height: max-content;
    padding-bottom: 3px;
    margin: auto;
}

.sign-in-ui .sign-in-box button,
.sign-in-ui .dont-have-account .create-account-box button {
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: white;
    border-radius: inherit;
}

.sign-in-ui .sign-in-box .login-with-pass {
    margin: 10px 0;
}

.sign-in-ui .sign-in-box .login-with-pass,
.sign-in-ui .dont-have-account .create-account-box button {
    background: var(--primaryColor);
    border: none;
}

.sign-in-ui .sign-in-box .send-magic-link {
    background: none;
    color: var(--mainTextColor);
    border: 1px solid var(--primaryHoverColor);
    transition: 200ms ease-in-out;
}

.sign-in-ui .sign-in-box .send-magic-link:hover {
    background: var(--primaryHoverColor);
}

.sign-in-ui .dont-have-account .create-account-box {
    background: var(--boxBg);
    padding: 20px;
    border-radius: 4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

.sign-in-ui .dont-have-account .create-account-box::after {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
}

.sign-in-ui .dont-have-account .create-account-box p {
    margin-bottom: 15px;
    line-height: 20px;
}

.sign-in-ui .dont-have-account .create-account-box button {
    border-radius: 5px;
}

.main-content-area .create-account-ui-outer,
.main-content-area .faq-page-outer {
    display: flex;
    justify-content: center;
}

.main-content-area .create-account-ui {
    width: 100%;
    max-width: 800px;
}

.main-content-area .create-account-ui .area-title {
    margin-bottom: 8px;
}

.create-account-ui .select-plan-that-suits-box {
    background: var(--boxBg);
    padding: 20px;
    border-radius: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

.create-account-ui .select-plan-that-suits-box::after {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--primaryColor);
}

.create-account-ui .select-plan-that-suits-box p:first-child {
    margin-bottom: 8px;
}

.create-account-ui span.or-text{
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 15px;
    color: var(--secondaryTextColor);
}

.create-account-ui .login-with-patreon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    background: none;
    color: var(--primaryColor);
    font-size: 17px;
    height: 40px;
    padding: 0 40px;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    border: 1px solid var(--primaryHoverColor);
    transition: 200ms ease-in-out;
}

.create-account-ui .login-with-patreon:hover{
    background: var(--primaryHoverColor);
}

.create-account-ui .create-account-inp-box{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    background: var(--boxBg);
    align-items: center;
    margin: 20px auto 0 auto;
}

.create-account-ui .create-account-inp-box input{
    background: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid var(--innerBoxBg);
    border-radius: inherit;
    color: var(--mainTextColor)
}

.create-account-ui .create-account-inp-box button{
    height: 40px;
    width: 100%;
    border-radius: inherit;
    background: var(--primaryColor);
    border: none;
    font-size: 16px;
    color: white;
    margin-top: 7px;
    max-width: 250px;
}

.main-content-area .faq-page {
    width: 100%;
    max-width: 500px;
}

.faq-page .faq-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.faq-page .faq-list .faq-box {
    padding: 20px;
    background: var(--boxBg);
    border-radius: 5px;
    height: 56px;
    cursor: pointer;
    overflow: hidden;
    transition: .2s ease-in-out;
}

.faq-page .faq-list .faq-box-top {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.faq-page .faq-list .faq-box-top img {
    width: 20px;
}

.faq-page .faq-list .faq-box p {
    font-weight: 300;
    cursor: default;
    line-height: 20px;
}

/* ---------------- file view page ---------------- */
.file-view-ui{
    background: var(--boxBg);
}

.file-view-ui .file-view-header {
    padding: 20px 0;
    border-bottom: 1px solid var(--innerBoxBg);
}

.file-view-ui .file-view-header.header-top{
    padding: 20px;
    margin-bottom: 20px;
}

.file-view-ui .file-view-header span{
    color: var(--secondaryTextColor)
}

.file-view-ui .file-view-header span:nth-child(2){
    color: var(--dimmedTextColor)
}

.file-view-ui .file-view-header span img{
    vertical-align: -3px;
    margin-right: 2px;
}

.file-view-ui .file-view-sub-header{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.file-view-ui .file-view-sub-header .search-inp-container{
    position: relative;
    height: 40px;
    border: 1px solid var(--innerBoxBg);
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.file-view-ui .search-inp-container svg{
    pointer-events: none;
    height: 18px;
    width: 18px;
}

.file-view-ui .search-inp-container svg path{
    fill: var(--secondaryTextColor);
}

.file-view-ui .search-inp-container .search-svg{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-view-ui .search-inp-container input{
    background: none;
    height: 100%;
    border: none;
    color: var(--mainTextColor);
    font-size: 16px;
}

.file-view-ui .search-inp-container .clear-search-inp{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--innerBoxBg);
    cursor: pointer;
}

.file-view-ui .search-inp-container .clear-search-inp img{
    filter: var(--imgInvertColor);
}

.file-view-ui .file-manager-view{
    padding: 20px;
}

.file-view-ui .file-manager-view .file-view-header,
.file-view-ui .file-manager-view .file-list-item{
    background: var(--mainBgColor);
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
}

.file-view-ui .file-manager-view .file-view-header .select,
.file-view-ui .file-manager-view .file-list-item .select{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-view-ui .file-manager-view .file-view-header .select input, 
.file-view-ui .file-manager-view .file-list-item .select input{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #7b7b7b61;
    background-color: var(--innerBoxBg);
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.file-view-ui .file-manager-view .file-view-header .select input:checked,
.file-view-ui .file-manager-view .file-list-item .select input:checked {
    background-color: var(--primaryColor);
}

.file-view-ui .file-manager-view .file-view-header .select input:checked::after,
.file-view-ui .file-manager-view .file-list-item .select input:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file-view-ui .file-manager-view .file-view-header .sizes, 
.file-view-ui .file-manager-view .file-list-item .sizes{
    width: 70px;
}

.file-view-ui .file-manager-view .file-view-header .modified-on, 
.file-view-ui .file-manager-view .file-list-item .modified-on{
    width: 100px;
}

.file-view-ui .file-manager-view .file-view-header .file-options, 
.file-view-ui .file-manager-view .file-list-item .file-options{
    width: 150px;
}

.file-view-ui .file-manager-view .file-list-item {
    background: var(--boxBg);
    padding: 10px 0;
    font-weight: 300;
    align-items: center;
}

.file-view-ui .file-manager-view .file-list-item .sizes, 
.file-view-ui .file-manager-view .file-list-item .modified-on{
    font-size: 14px;
}

.file-view-ui .file-manager-view .file-list-item .file-options{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.file-view-ui .file-manager-view .file-list-item .file-options .file-view-icon,
.file-view-ui .file-manager-view .file-list-item .file-options .download-icon{
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms ease-in-out
}
.file-view-ui .file-manager-view .file-list-item .file-options .file-view-icon:hover,
.file-view-ui .file-manager-view .file-list-item .file-options .download-icon:hover{
    background: var(--innerBoxBg);
}

.file-view-ui .file-manager-view .file-list-item .file-options img{
    width: 15px;
    height: 15px;
    filter: var(--imgInvertColor);
}

/* ---------------- page ui ---------------- */
.page-ui{
    background: var(--boxBg);
}

.profile-heading{
    display: flex;
    gap: 5px;
    padding: 20px;
}

.profile-heading .user-icon{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--innerBoxBg);
    border-radius: 50%;
}

.profile-heading .user-icon img{
    width: 40px;
    filter: var(--imgInvertColor);
}

.profile-heading .user-content h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-heading .user-content p{
    color: var(--secondaryTextColor);
}

.no-files-uploaded{
    text-align: center;
    color: var(--dimmedTextColor);
    padding: 20px 0;
}

.page-ui-extra .create-account-btns{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.page-ui-extra .create-account-btns button{
    margin: 0;
}

.page-ui-extra .create-account-btns button.login{
    background: var(--primaryColor);
    color: white;
}

.file-viewer-elm-outer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #000000d9;
    transition: 200ms ease-in-out;
}

.file-viewer-elm-outer.hide{
    opacity: 0;
    visibility: hidden;
}

.file-viewer-elm-outer .file-viewer-elm{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.file-viewer-elm-outer .file-viewer-elm .file-viewer-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.file-viewer-elm-outer .file-viewer-elm .file-viewer-header .viewer-options{
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-viewer-elm-outer .file-viewer-header .viewer-options span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.file-viewer-elm-outer .file-viewer-header .viewer-options span:hover{
    background: var(--boxBg);
}

.file-viewer-elm-outer .file-viewer-header .viewer-options span img{
    width: 20px;
    height: 20px;
    filter: var(--imgInvertColor);
}

.file-viewer-elm-outer .file-viewer-main{
    display: flex;
    position: relative;
    overflow: hidden;
}

.file-viewer-elm-outer .media-items-slider{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    transition: 150ms ease-in-out;
}

.file-viewer-elm-outer .media-item-container{
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.file-viewer-elm-outer .file-viewer-main video,
.file-viewer-elm-outer .file-viewer-main img:not(.arrow img){
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file-viewer-elm-outer .file-viewer-main .arrow{
    cursor: pointer;
    width: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.file-viewer-elm-outer .file-viewer-main .arrow-left{
    left: 20px;
    transform: rotate(180deg);
}

.file-viewer-elm-outer .file-viewer-main .arrow-right{
    right: 20px;
}

.file-viewer-elm-outer .file-viewer-main .arrow img{
    width: 25px;
    height: 30px;
    filter: var(--imgInvertColor);
}